<aside>
  <%= form_tag room_path, method: :get do %>
    <%= text_field_tag :url, nil, placeholder: 'Search another URL' %>
  <% end %>

  <h2><%= @room.host %></h2>
  <small>There are <%= @rooms.count %> active rooms for this host</small>
  <ul id="rooms">
    <% @rooms.each do |room| %>
      <li>
        <%= link_to room_path(url: room.url), class: ('selected' if @room.url==room.url) do %>
          <%= room.request_uri.present? ? room.request_uri : '/' %>
        <% end %>
      </li>
    <% end %>
  </ul>
</aside>

<article>
  <section id="chat">
    <header>
      <h1>Bettr.Chat</h1>
      <h2><%= @room.key %></h2>
    </header>
    <div id="messages">
      <%= render @messages %>
    </div>
  </section>

  <section id="form">
    <form>
      <label>Say something:</label><br />
      <textarea data-behavior="room_speaker" data-room-id="<%= @room.id %>"></textarea>
    </form>
  </section>
</article>
